@media only screen and (min-width: 65em) {

  header{
    padding: 15px;
  }

  .navigation{ 
    position: relative;
  }

  .upper-header {
    gap: 4rem;
    justify-content: center;
    margin-bottom: 15px;
  }

  .left-header {
    gap: 1rem;
  }

  .right-header {
    flex-direction: row;
    gap: 4rem;
  }

  nav {
    border-radius: 15px;
    background-color: white;
  }

  .currentFullDate{
    margin: 0 auto;
  }

  .navigation{
    display: flex;
    flex-direction: row;
    width: 500px;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .navigation li {
    border-radius: 15px;
    display: block;
    flex: 1 1 100%;
  }

  .navigation a {
    text-align: center;
  }

  .navigation li:first-child {
    display: none;
  }

  .home-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    padding-bottom: 70px;
    padding-top: 70px;
  }
  .section1 {
    grid-column: 2/4;
    grid-row: 1/4;
  }
  .section2 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .section3 {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .section4 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .section5 {
    grid-column: 2/4 ;
    grid-row: 4/5;
  }
  .section5-news {
    font-size: 1.3rem;
  }
  .section6 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column: 4/5;
    grid-row: 1/5;
  }

  .box1, .box2, .box3 {
    font-size: 1rem;
  }

  .info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
  }

  .discover-page {
    font-size: 1.3rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  
  .description-part{
    flex-direction: row;
    gap: 5rem;
    padding: 50px;
    border: 1px solid black;
  }

  .join-page{
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1500px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
    gap: 8rem;
  }
  .join-page .join-form{
    width: 100%;
  }

  .join-page .membership-section{
    max-width: 500px;
  }


  .directory-main .list {
    font-size: 1rem;
  }

  .list section img {
		display: block;
  }

  .list .company-name{
    display: none;
  }

  .contact-title {
    font-size: 3rem;
  }
  
  .contact-main-view{
    align-items: center;
    flex-direction: row;
    gap: 10rem;
  }
  .contact-details {
   width: 500px;
  }

  .contact-form{
    width: 500px;
  }



}

