.content {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 0.9rem;
}
header, footer {
  background-color: #05445E;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

nav {
  background-color: #189AB4;
  font-family: 'Bree Serif', serif;
  text-align: center;
}
nav {
  display: flex;
  flex-direction: column;
}
nav div {
  flex: 1 1 auto;
}

nav a{
  display: block;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  color: white;
}

nav a:hover {
	background-color: gainsboro;
  color: brown;
}

.main-home{
  background-color:#D4F1F4;
  display: grid;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 2rem;
}

.section {
  border: 1px solid black;
  padding:15px;
}

h1, h2 ,h3 {
  font-family: 'Bree Serif', serif;
}

p {
  text-align: justify;
  font-family: 'Rubik', sans-serif;
}

/* Color Scheme Page */

.div-hd-color{
  text-align: center;
}
.main-color-scheme {
  display: grid;
  padding-bottom: 50px;
  text-align: center;
  gap: 2rem;
}

.div-color-scheme{
  padding: 15px;
}

.code {
  text-align: center;
}

/* typograpy page*/

.div-hd-typography{
  text-align: center;
}

.main-typography{
  display: grid;
  text-align: center;
  gap: 2rem;
  padding-bottom: 50px;
}
.section-typography {
  background-color:#75E6DA;
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
  padding: 15px;
}

@media only screen and (min-width: 37.5em) {
  .content {
    font-size: 1rem;
  }

  header{
    font-size: 1.25rem;
  }

  nav {
    flex-direction: row;
  }

  .main-home {
    grid-template-columns: 1fr 1fr;
  }

  .main-color-scheme {
    grid-template-columns: 1fr 1fr;
  }

  .main-typography {
    grid-template-columns: 1fr 1fr;
  }

  .section-typography:nth-child(3) {
    grid-column: 1/3;
  }

  footer {
    flex-direction: row;
  }
}

@media only screen and (min-width: 60em) {
 
  header{
    font-size: 1.4rem;
  }

  .main-home {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .main-color-scheme {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .main-typography {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section-typography:nth-child(3) {
    grid-column:auto;
  }
}