.home-page-body, .temple-page-body{
  font-family: 'Bree Serif', serif;
  background-color: #f8edeb;
}

h1, h2, h3, h4 {
  color: brown;
}

header {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  background-color: #ffb5a7;
}

.my-logo {
  border-radius: 100px;
  width: 150px;
}

header .icon-part {
  display: none;
}


.navigation {
  padding: 1px;
}


.upper-header{
  padding: 10px;
}


.down-header {
  background-color: #fec89a;
  
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.navigation a {
  text-decoration: none;
  text-align: center;
  color: black;
}
.responsive{
  margin: 0 auto;
}

.responsive li { 
  background-color: #fec89a;
  color: black;
  display: block;
  padding: 5px;
}

.responsive li:hover {
  color: black;
  background-color: #F8EDEB;
  box-shadow: 0 0 5px black;
}


.icon-part {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 50px;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
  border-radius: 50px;
}

/* MAIN */

.home-page-main{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 50px;
}

.home-page-banner {
  display: flex;
  flex-direction: column;
}

.call-to-action{
  margin: 5px 25px 5px 25px;
  background-color: white;
  box-shadow: 0 0 10px black;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 25px;
}

.hotel-chain-information{
  margin: 5px 25px 5px 25px;
  background-color: white;
  box-shadow: 0 0 10px black;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 25px;
}

.first-image {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 25px;
}

.temple-information{
  margin: 5px 25px 5px 25px;
  background-color: white;
  box-shadow: 0 0 10px black;
  text-align: center;
  padding: 25px;
}

.second-image {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 25px;
  
}


.weather {
  margin: 5px 25px 5px 25px;
  background-color: white;
  box-shadow: 0 0 10px black;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 25px;
}


/* FOOTER */

footer {
  background-color: #ffb5a7;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 15px;
}

.location-info a {
  text-decoration: none;
  color: orangered;
}

/* TEMPLE PAGE */

.temple-page-main {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.temple-page-main section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 1rem;
  margin: 15px 15px 15px 15px;
  padding: 0.35rem;
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: white;
  border: 1px solid #bbb;
  align-items: center;
  box-shadow: 0 0 20px rgb(0, 0, 0);
}

.temple-img {
  width: 300px;
}

/* Reservation Page*/

.reservation-page-body {
  font-family: 'Bree Serif', serif;
  background-color: #f8edeb;
}

.reservation-page-main {
  display: flex;
  flex-direction: column;
 
}

.reservation-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 50px;
}


.announcement {
  max-width: 500px;
  background-color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px black;
  border-radius: 15px;
}


.reservation-form {
  padding: 50px;
  background-color: white;
  box-shadow: 0 0 20px black;
  border-radius: 15px;
}

.reservation-form form fieldset{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reservation-form legend {
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
}

.reservation-form input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: rgb(108, 106, 106);
}

.reservation-form input:hover {
  background-color: ghostwhite;
}

.reservation-form legend, .reservation-form label {
  color: brown;
}

.submitButtonContact{
  padding: 5px;
  max-width: 250px;
  background-color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  box-shadow: 0 0 10px black;
}

/* SERVICES PAGE*/

.banner-services-page {
  width: 100%;
}

.services-page-body{ 
  font-family: 'Bree Serif', serif;
  background-color: #f9dcc4;
}

.services-page-main {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3rem;
  padding-bottom: 50px;
}
.first-title {
  border-bottom: 2px solid black;
  padding-bottom: 25px;
}
.second-title {
  border-bottom: 2px solid black;
  padding-bottom: 25px;
}

.services-page-main div {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px black; 
}


